body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #001f3f, #12589d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-top: 220px;
}

.profile-pic-container {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.profile-pic-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ccc;
  object-fit: cover;
}

.profile-pic-container input {
  display: block;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}
.profile-container label {
  color: white;
}
.profile-container h2 {
  color: white;
}
